*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", "Aria", "Yu Gothic", sans-serif;
}

textarea {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas;
}

a {
    color: #5c7a73;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #232e2b;
    text-decoration: underline;
}